In [23]:
import pandas as pd
import numpy as np
from sklearn.svm import SVC 
from sklearn.metrics import accuracy_score,classification_report

In [24]:
data=pd.read_csv("../glass.csv")
data.head()

   Id       RI     Na    Mg    Al    Si      K    Ca   Ba   Fe  Type
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [41]:
X=data.drop("Type",axis=1)
Y=data.Type

In [42]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y)

In [43]:
linear=SVC(kernel='linear')
linear.fit(X_train,Y_train)
y_prec=linear.predict(X_test)

In [44]:
accuracy_score(Y_test,y_prec)

1.0

In [45]:
model1=SVC(kernel='sigmoid')
model2=SVC(kernel='rbf')
model3=SVC(kernel='poly')

In [46]:
model1.fit(X_train,Y_train)
y_prec_m1=model1.predict(X_test)
accuracy_score(Y_test,y_prec_m1)

0.6851851851851852

In [47]:
model2.fit(X_train,Y_train)
y_prec_m2=model2.predict(X_test)
accuracy_score(Y_test,y_prec_m2)

0.8888888888888888

In [48]:
model3.fit(X_train,Y_train)
y_prec_m3=model3.predict(X_test)
accuracy_score(Y_test,y_prec_m3)

0.9074074074074074